@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="medicalName" name="药品名称" underline="true"/>
                            <#input id="spell" name="拼音" underline="true"/>
                            <#select id="producer" name="生产商" underline="true" itemList="${producerDictList}">
							</#select>
                </div>

                <div class="col-sm-6">
                            <#select id="specification" name="规格" underline="true" itemList="${specificationDictList}">
							</#select>
                            <#select id="unit" name="单位" underline="true" itemList="${unitDictList}">
							</#select>
                            <#input id="remark" name="备注" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MedicalInventoryStairInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MedicalInventoryStairInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/inventory/medicalInventoryStair/medicalInventoryStair_info.js"></script>
@}
