@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="editForm" class="form-horizontal">

            <input type="hidden" id="id" name="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                           <#input id="id" name="主键" type="hidden"   value="${item.id}" />
                           <#input id="userNo" name="用户编号" type="text" dataOptions="required:true, validType:'length[1, 20]'"  value="${item.userNo}" />
                           <#input id="status" name="状态" type="text" dataOptions="required:true, validType:'number'"  value="${item.status}" />
                           <#input id="outDiagnosis" name="出院诊断" type="text" dataOptions="validType:'length[0, 1024]'"  value="${item.outDiagnosis}" />
                           <#input id="physicianNo" name="主管医师" type="text" dataOptions="validType:'length[0, 20]'"  value="${item.physicianNo}" />
                           <#input id="physicianName" name="主管医师" type="text" dataOptions="validType:'length[0, 50]'"  value="${item.physicianName}" />
                           <#input id="patientInfoId" name="病患信息id" type="text" dataOptions="required:true, validType:'number'"  value="${item.patientInfoId}" />
                           <#input id="sickRoom" name="病室" type="text" dataOptions="validType:'length[0, 128]'"  value="${item.sickRoom}" />
                           <#input id="sickBed" name="病床" type="text" dataOptions="validType:'length[0, 64]'"  value="${item.sickBed}" />
                            <#input id="commonAdvice" name="常规医嘱" type="text" dataOptions="validType:'number'"  value="${item.commonAdvice}" />
                </div>

                <div class="col-sm-6">
                            <#input id="commonAdvicePhysicianName" name="军医" type="text" dataOptions="validType:'length[0, 50]'"  value="${item.commonAdvicePhysicianName}" />
                            <#input id="commonAdvicePhysicianNo" name="军医" type="text" dataOptions="validType:'length[0, 20]'"  value="${item.commonAdvicePhysicianNo}" />
                            <#input id="commonAdviceDate" name="常规医嘱时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"   value="${item.commonAdviceDate}" />
                            <#input id="operatorNo" name="录入员" type="text" dataOptions="validType:'length[0, 20]'"  value="${item.operatorNo}" />
                            <#input id="operatorName" name="录入员" type="text" dataOptions="validType:'length[0, 50]'"  value="${item.operatorName}" />
                            <#input id="inHospitalDate" name="住院时间" type="date" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"   value="${item.inHospitalDate}" />
                            <#input id="leaveHospitalDate" name="出院时间" type="date" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"   value="${item.leaveHospitalDate}" />
                            <#input id="createDate" name="创建时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" dataOptions="required:true"  value="${item.createDate}" />
                            <#input id="updateDate" name="更新时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" dataOptions="required:true"  value="${item.updateDate}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PatientInHospitalInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PatientInHospitalInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/inhospital/patientInHospital/patientInHospital_info.js"></script>
@}
