@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="editForm" class="form-horizontal">

            <input type="hidden" id="id" name="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-12">
                    <#select id="commonAdvice" name="常规医嘱" dataOptions="required:true, validType:'length[0, 50]'" itemList="${commonAdviceDictList}" emptyValue="true" underline="true" value="${item.commonAdvice}"  />
                </div>
                <div class="col-sm-12">
	                <div class="col-sm-6">
	                   <#select id="commonAdvicePhysicianName" name="军医" type="text" dataOptions="required:true, validType:'length[0, 50]'" itemList="${doctorItemList}"  value="${item.commonAdvicePhysicianName}"  />
	                </div>
	                <div class="col-sm-6">
	                   <#input id="commonAdviceDate" name="时间" type="date" dataOptions="required:true" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${item.commonAdviceDate}"  />
	                </div>
                
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="确定" id="cancel" icon="fa-eraser" clickFun="PatientInHospitalInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/inhospital/patientInHospital/patientInHospital_info.js"></script>
@}
