@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="remarkForm" class="form-horizontal">
            <input type="hidden" name="id" value="${transferTreatment.id}">
            <div class="row">
                <div class="col-sm-12">
                     <#input id="remark" name="备注" dataOptions="required: true, validType:'length[0, 128]'" value="${transferTreatment.remark}" />
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PatientTransferTreatmentInfoDlg.updateRemark()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PatientTransferTreatmentInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/transfer/patientTransferTreatment/patientTransferTreatment_info.js"></script>
@}
