@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="editForm" class="form-horizontal">

            <input type="hidden" id="id" name="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                </div>

                <div class="col-sm-6">
                            <#input id="patientInfoId" name="患者信息表id"   dataOptions="required:true, validType:'number'"  value="${item.patientInfoId}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PatientMedicalUsageStepInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PatientMedicalUsageStepInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/treatment/patientMedicalUsageStep/patientMedicalUsageStep_info.js"></script>
@}
