@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="addForm" class="form-horizontal">

            <input type="hidden" name="id" value="${item.id}">
            <input type="hidden" name="userNo" value="${item.userNo}">
            <input type="hidden" name="assayId" value="${item.assayId}">
            <input type="hidden" name="bUltrasonicId" value="${item.bUltrasonicId}">
            <input type="hidden" name="commonId" value="${item.commonId}">
            <input type="hidden" name="entId" value="${item.entId}">
            <input type="hidden" name="gOId" value="${item.gOId}">
            <input type="hidden" name="internalId" value="${item.internalId}">
            <input type="hidden" name="ophthalmologyId" value="${item.ophthalmologyId}">
            <input type="hidden" name="stomatologyId" value="${item.stomatologyId}">
            <input type="hidden" name="surgeryId" value="${item.surgeryId}">
            <input type="hidden" name="statusMask" value="${item.statusMask}">
            <input type="hidden" name="oldFile" id="oldFile" value="${item.ecgPath}">
            <input type="hidden" id="healthExaminationId" name="healthExaminationId" value="${item.healthExaminationId}">

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <#input id="userName" name="姓名" type="text" dataOptions="required:true, validType:'length[1, 50]'" value="${item.userName}" />
                    </div>
                    <div class="col-sm-4">
                        <#input id="examinationDate" name="体检日期" type="date" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" dataOptions="required:true" value="${item.examinationDate}"  />
                    </div>
                    <div class="col-sm-4">
                        <#select id="examinationType" name="体检类别" type="text" dataOptions="required:true, validType:'number'" itemList="${examinationTypeDictList}" emptyValue="true" value="${item.examinationType}" />
                    </div>
                </div>
                <hr class="col-sm-12">
                <div class="h4">
                                            体检信息
                </div>
                <div class="col-sm-12">
                    <div id="examinationTabs" class="easyui-tabs" style="width:100%;height:385px;">   
                    
                        <div title="一般检查" style="padding:20px;display:none;">   
                                <div class="col-sm-2">
                                    <#select id="upgrowthSituation" name="发育情况" type="text" dataOptions="required:true, validType:'number'" itemList="${upgrouthSituationItemList}" value="${item.upgrowthSituation}" />
                                </div>
                                <div class="col-sm-5">
                                    <#input id="stature" name="身高" type="text" dataOptions="validType:'number'" value="${item.stature}" />
                                </div>
                                <div class="col-sm-5">
                                    <#input id="weight" name="体重" type="text" value="${item.weight}"  />
                                </div>
                                <div class="col-sm-6">
                                    <#input id="bloodPressure" name="血压" type="text" dataOptions="validType:'length[0, 64]'" value="${item.bloodPressure}" />
                                </div>                       
                                <div class="col-sm-3">
                                    <#select id="bloodType" name="血型" type="text" dataOptions="validType:'number'" itemList="${bloodTypeItemList}" value="${item.bloodType}" />
                                </div>                    
                                <div class="col-sm-3">
                                    <#select id="married" name="婚否" type="text" dataOptions="validType:'number'" itemList="${marriedItemList}" value="${item.married}" />
                                </div>                 
                            <div class="col-sm-12">
                                <#input id="psychology" name="心理检测" type="text" dataOptions="validType:'length[0, 256]'" value="${item.psychology}" />
                            </div>              
                            <div class="col-sm-12">
                                <#input id="irritabilityHistory" name="过敏史" type="text" style="color:red;" dataOptions="validType:'length[0, 1024]'" value="${item.irritabilityHistory}" />
                            </div>                 
                            <div class="col-sm-12">
                                <#input id="commonIrritabilityHistory" name="既往病史" type="text" dataOptions="validType:'length[0, 1024]'" value="${item.commonIrritabilityHistory}" />
                            </div>
                            <br class="col-sm-12">
                            <div class="col-sm-12">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="commonSignatureResponsiblePhysician" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" value="${item.commonSignatureResponsiblePhysician}" />
                            </div>
                        </div>   
                        
                        
                        <div title="外科" style="overflow:auto;padding:20px;display:none;">   
                            <div class="col-sm-12">
                                <#input id="surgeryIrritabilityHistory" name="既往病史" type="text" dataOptions="validType:'length[0, 1024]'" value="${item.surgeryIrritabilityHistory}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="surgeryCheckInfo" name="检查所见" type="text" dataOptions="validType:'length[0, 1024]'" value="${item.surgeryCheckInfo}"  />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="surgeryDiagnosis" name="诊断" type="text" dataOptions="validType:'length[0, 512]'" value="${item.surgeryDiagnosis}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="surgeryConclusion" name="结论" type="text" dataOptions="validType:'length[0, 512]'" value="${item.surgeryConclusion}" />
                            </div>    
                            <br class="col-sm-12">
                            <div class="col-sm-12">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="surgerySignatureResponsiblePhysician" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" value="${item.surgerySignatureResponsiblePhysician}" />
                            </div>    
                        </div> 
                          
                        <div title="内科" style="padding:20px;display:none;">   
                           <div class="col-sm-4">
                               <div class="input-group col-md-12">
                                    <div class="input-group-btn" >
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                                                                                            <b>心电图</b>
                                        </button>
                                    </div>
                                    <input id="ecgPath" name="ecgPath" class="form-control easyui-validatebox" style="width:300px" value="${item.ecgPath}" />
                                </div>
                           </div>    
                           <div class="col-sm-4">
                                <#input id="ecgDesc" name="心电图" class="form-control easyui-validatebox" value="${item.ecgDesc}" />
                           </div>       
                           <div class="col-sm-4">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="ecgDoctor" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" value="${item.ecgDoctor}" />
                           </div>     
                           <div class="col-sm-6">
                                <#input id="chestFluoroscopy" name="胸部透视" type="text" dataOptions="validType:'length[0, 1024]'" value="${item.chestFluoroscopy}" />
                           </div>     
                           <div class="col-sm-6">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="cfDoctor" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" value="${item.cfDoctor}"  />
                           </div>    
                           <div class="col-sm-12">
                                <#input id="internalIrritabilityHistory" name="既往病史" type="text" dataOptions="validType:'length[0, 1024]'" value="${item.internalIrritabilityHistory}" />
                           </div> 
                           <div class="col-sm-12">
                                <#input id="internalCheckInfo" name="检查所见" type="text" dataOptions="validType:'length[0, 1024]'" value="${item.internalCheckInfo}" />
                           </div> 
                           <div class="col-sm-12">
                                <#input id="internalDiagnosis" name="诊断" type="text" dataOptions="validType:'length[0, 512]'" value="${item.internalDiagnosis}" />
                           </div> 
                           <div class="col-sm-12">
                                <#input id="internalConclusion" name="结论" type="text" dataOptions="validType:'length[0, 512]'" value="${item.internalConclusion}" />
                           </div> 
                           <div class="col-sm-12">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="internalSignatureResponsiblePhysician" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" value="${item.internalSignatureResponsiblePhysician}" />
                           </div> 
                        </div>   
                        
                        
                        <div title="B超" style="padding:20px;display:none;">   
                            <div class="col-sm-12">
                                <#input id="liver" name="肝" type="text" dataOptions="validType:'length[0, 512]'" value="${item.liver}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="gallbladder" name="胆" type="text" dataOptions="validType:'length[0, 512]'" value="${item.gallbladder}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="kidney" name="肾" type="text" dataOptions="validType:'length[0, 512]'" value="${item.kidney}"  />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="spleen" name="脾" type="text" dataOptions="validType:'length[0, 512]'" value="${item.spleen}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="bUltrasonicOther" name="其他" type="text" dataOptions="validType:'length[0, 512]'" value="${item.bUltrasonicOther}" />
                            </div>    
                        </div>   
                        
                        
                        <div title="化验" style="overflow:auto;padding:20px;display:none;">   
                            <div class="col-sm-12">
                                <#input id="liverFunction" name="肝功" type="text" dataOptions="validType:'length[0, 512]'" value="${item.liverFunction}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="HBsAg" name="(HBsAg)" type="text" dataOptions="validType:'length[0, 512]'" value="${item.HBsAg}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="cholesterol" name="胆固醇" type="text" dataOptions="validType:'length[0, 128]'" value="${item.cholesterol}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="triglycerideAlcohol" name="甘油三脂" type="text" dataOptions="validType:'length[0, 128]'" value="${item.triglycerideAlcohol}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="bloodGlucose" name="血糖" type="text" dataOptions="validType:'length[0, 128]'" value="${item.bloodGlucose}"  />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="bloodRoutine" name="血常规" type="text" dataOptions="validType:'length[0, 128]'" value="${item.bloodRoutine}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="urineRoutine" name="尿常规" type="text" dataOptions="validType:'length[0, 128]'" value="${item.urineRoutine}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="stoolRoutine" name="便常规" type="text" dataOptions="validType:'length[0, 128]'" value="${item.stoolRoutine}" />
                            </div>    
                            <div class="col-sm-12">
                                <#input id="assayOther" name="其他" type="text" dataOptions="validType:'length[0, 512]'" value="${item.assayOther}" />
                            </div>    
                        </div>   
                        
                        
                        <div title="眼科" style="padding:20px;display:none;">   
                            <div class="col-sm-6">   
                                <#input id="stereoscopicVision" name="立体视觉" type="text" dataOptions="validType:'length[0, 128]'" value="${item.stereoscopicVision}" />
                            </div>
                            <div class="col-sm-6">   
                                <#input id="colourVision" name="色觉" type="text" dataOptions="validType:'length[0, 128]'" value="${item.colourVision}" />
                            </div>
                            <div class="col-sm-2">
                                <#input id="visionRight" name="视力：右" type="text" value="${item.visionRight}"  />
                            </div>
                            <div class="col-sm-2">
                                <#input id="visionLeft" name="左" type="text" value="${item.visionLeft}"  />
                            </div> 
                            <div class="col-sm-12">
                                <#input id="ophthalmologyCheckInfo" name="检查所见" type="text" dataOptions="validType:'length[0, 512]'" value="${item.ophthalmologyCheckInfo}" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="ophthalmologyDiagnosis" name="诊断" type="text" dataOptions="validType:'length[0, 512]'" value="${item.ophthalmologyDiagnosis}" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="ophthalmologyConclusion" name="结论" type="text" dataOptions="validType:'length[0, 512]'" value="${item.ophthalmologyConclusion}" />
                            </div>
                            <div class="col-sm-12">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="ophthalmologySignatureResponsiblePhysician" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" value="${item.ophthalmologySignatureResponsiblePhysician}" />
                            </div>
                        </div>   
                        
                        
                        <div title="耳鼻喉科" style="padding:20px;display:none;">   
                            <div class="col-sm-6">   
                                <#input id="smell" name="嗅觉" type="text" dataOptions="validType:'length[0, 128]'" value="${item.smell}" />
                            </div>
                            <div class="col-sm-6">   
                                <#input id="otobaricFunction" name="耳气压功能" type="text" dataOptions="validType:'length[0, 128]'" value="${item.otobaricFunction}" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="hearingRight" name="听力右" type="text" dataOptions="validType:'length[0, 32]'" value="${item.hearingRight}"  />
                                <#input id="hearingLeft" name="听力左" type="text" dataOptions="validType:'length[0, 32]'" value="${item.hearingLeft}" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="entCheckInfo" name="检查所见" type="text" dataOptions="validType:'length[0, 256]'" value="${item.entCheckInfo}" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="entDiagnosis" name="诊断" type="text" dataOptions="validType:'length[0, 256]'" value="${item.entDiagnosis}" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="entConclusion" name="结论" type="text" dataOptions="validType:'length[0, 256]'" value="${item.entConclusion}" />
                            </div>
                            <div class="col-sm-12">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="entSignatureResponsiblePhysician" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" value="${item.entSignatureResponsiblePhysician}" />
                            </div>    
                        </div>   
                        <div title="妇产科" style="overflow:auto;padding:20px;display:none;"> 
                            <div class="col-sm-12">
                                <#input id="gOIrritabilityHistory" name="既往病史" type="text" dataOptions="validType:'length[0, 1024]'" value="${item.gOIrritabilityHistory}" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="gOCheckInfo" name="检查所见" type="text" dataOptions="validType:'length[0, 1024]'" value="${item.gOCheckInfo}"  />
                            </div>
                            <div class="col-sm-12">
                                <#input id="gODiagnosis" name="诊断" type="text" dataOptions="validType:'length[0, 512]'" value="${item.gODiagnosis}" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="gOConclusion" name="结论" type="text" dataOptions="validType:'length[0, 512]'" value="${item.gOConclusion}" />
                            </div>
                            <div class="col-sm-12">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="gOSignatureResponsiblePhysician" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" value="${item.gOSignatureResponsiblePhysician}" />
                            </div>
                        </div> 
                        
                          
                        <div title="口腔科" style="padding:20px;display:none;">   
                            <div class="col-sm-12">
                                <#input id="stomatologyIrritabilityHistory" name="既往病史" value="${item.stomatologyIrritabilityHistory}" type="text" dataOptions="validType:'length[0, 1024]'" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="stomatologyCheckInfo" name="检查所见" value="${item.stomatologyCheckInfo}" type="text" dataOptions="validType:'length[0, 1024]'"  />
                            </div>
                            <div class="col-sm-12">
                                <#input id="stomatologyDiagnosis" name="诊断" value="${item.stomatologyDiagnosis}" type="text" dataOptions="validType:'length[0, 512]'" />
                            </div>
                            <div class="col-sm-12">
                                <#input id="stomatologyConclusion" name="结论" value="${item.stomatologyConclusion}" type="text" dataOptions="validType:'length[0, 512]'" />
                            </div>
                            <div class="col-sm-12">
                                <#select itemList="${doctorItemList}" emptyValue="true" id="stomatologySignatureResponsiblePhysician" name="医师签名" value="${item.stomatologySignatureResponsiblePhysician}" type="text" dataOptions="validType:'length[0, 50]'" />
                            </div> 
                        </div>   
                    </div>  
                </div>
            <hr class="col-sm-12">
                <div class="h4">
                                            结论
                </div>
                <div class="col-sm-12">
                    <#select itemList="${doctorItemList}" emptyValue="true" id="responsiblePhysician" name="主检医师" value="${item.responsiblePhysician}" type="text" dataOptions="required:true, validType:'length[1, 50]'" />
                </div>
                <div class="col-sm-12">
                    <#select id="recheckConclusion" name="复检结论" type="text" dataOptions="required:true, validType:'length[0, 512]'" itemList="${recheckConclusionDictList}" value="${item.recheckConclusion}" />
                </div>
                <div class="col-sm-12">
                    <#select itemList="${doctorItemList}" emptyValue="true" id="recheckDoctor" name="复检医师" value="${item.recheckDoctor}" type="text" dataOptions="validType:'length[0, 50]'" />
                </div>
            </div>

            
            <div class="row btn-group-m-t">
                <div class="col-sm-12">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExaminationHealthInfoDlg.editSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExaminationHealthInfoDlg.close()"/>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/examination/examinationHealth/examinationHealth_info.js"></script>
@}
