@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="addForm" class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="surgeryId" name="主键" type="hidden"  underline="true" />
                            <#input id="healthExaminationId" name="体检信息表id" type="text" dataOptions="validType:'number'" underline="true" />
                            <#input id="surgeryIrritabilityHistory" name="既往病史" type="text" dataOptions="validType:'length[0, 1024]'" underline="true" />
                            <#input id="surgeryCheckInfo" name="检查所见" type="text" dataOptions="validType:'length[0, 1024]'"  />
                </div>

                <div class="col-sm-6">
                            <#input id="surgeryDiagnosis" name="诊断" type="text" dataOptions="validType:'length[0, 512]'" underline="true" />
                            <#input id="surgeryConclusion" name="结论" type="text" dataOptions="validType:'length[0, 512]'" underline="true" />
                            <#input id="surgerySignatureResponsiblePhysician" name="医师签名" type="text" dataOptions="validType:'length[0, 50]'" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExaminationSurgeryInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExaminationSurgeryInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/examination/examinationSurgery/examinationSurgery_info.js"></script>
@}
