@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="editForm" class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" value="${item.id}" underline="true"/>
                            <#input id="userId" name="编号" value="${item.userId}" underline="true"/>
                            <#input id="userName" name="姓名" value="${item.userName}" underline="true"/>
                            <#input id="userSex" name="性别" value="${item.userSex}" underline="true"/>
                            <#input id="userCard" name="卡号" value="${item.userCard}" underline="true"/>
                            <#input id="age" name="年龄" value="${item.age}" underline="true"/>
                            <#input id="identity" name="身份" value="${item.identity}" underline="true"/>
                            <#input id="orgId" name="单位id" value="${item.orgId}" underline="true"/>
                            <#input id="orgName" name="单位" value="${item.orgName}" underline="true"/>
                            <#input id="handleType" name="处理方式" value="${item.handleType}" underline="true"/>
                            <#input id="doctorOpinion" name="军医意见" value="${item.doctorOpinion}" underline="true"/>
                            <#input id="clinicDate" name="就诊时间" value="${item.clinicDate}" underline="true"/>
                            <#input id="createDate" name="创建时间" value="${item.createDate}" />
                </div>

                <div class="col-sm-6">
                            <#input id="updateDate" name="更新时间" value="${item.updateDate}" underline="true"/>
                            <#input id="irritabilityHistory" name="过敏史" value="${item.irritabilityHistory}" underline="true"/>
                            <#input id="abstractIllness" name="病情摘要" value="${item.abstractIllness}" underline="true"/>
                            <#input id="mainDiagnosis" name="主要诊断" value="${item.mainDiagnosis}" underline="true"/>
                            <#input id="minorDiagnosis" name="次要诊断" value="${item.minorDiagnosis}" underline="true"/>
                            <#input id="dispose" name="处置" value="${item.dispose}" underline="true"/>
                            <#input id="sickRest" name="病休" value="${item.sickRest}" underline="true"/>
                            <#input id="fever" name="发热" value="${item.fever}" underline="true"/>
                            <#input id="trainWound" name="训练伤" value="${item.trainWound}" underline="true"/>
                            <#input id="patientPrescriptionInfoId" name="患者处方表id" value="${item.patientPrescriptionInfoId}" underline="true"/>
                            <#input id="physicianId" name="军医id" value="${item.physicianId}" underline="true"/>
                            <#input id="physicianName" name="医生" value="${item.physicianName}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PatientInfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PatientInfoInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/treatment/patientInfo/patientInfo_info.js"></script>
@}
