@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="addForm" class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" type="hidden" underline="true"  />
                            <#input id="patientInfoId" name="患者信息id"   dataOptions="required:true, validType:'number'" />
                </div>

                <div class="col-sm-6">
                            <#input id="skinTestMedicalId" name="皮试药品id"  underline="true" dataOptions="validType:'number'" />
                            <#input id="remark" name="备注"  underline="true" dataOptions="validType:'length[0, 256]'" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PatientClinicDisposisInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PatientClinicDisposisInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/treatment/patientClinicDisposis/patientClinicDisposis_info.js"></script>
@}
