@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="editForm" class="form-horizontal">

            <input type="hidden" id="id" name="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                           <#input id="id" name="主键" type="hidden"   value="${item.id}" />
                           <#input id="animalHeat" name="体温" type="text"   value="${item.animalHeat}" />
                           <#input id="recordDate" name="日期" type="date" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" dataOptions="required:true"  value="${item.recordDate}" />
                            <#input id="time" name="时段" type="text" dataOptions="required:true, validType:'number'"  value="${item.time}" />
                </div>

                <div class="col-sm-6">
                            <#input id="inHospitalId" name="住院id" type="text" dataOptions="required:true, validType:'number'"  value="${item.inHospitalId}" />
                            <#input id="operatorNo" name="操作员" type="text" dataOptions="required:true, validType:'length[1, 20]'"  value="${item.operatorNo}" />
                            <#input id="operatorName" name="操作员" type="text" dataOptions="required:true, validType:'length[1, 50]'"  value="${item.operatorName}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="InHospitalTemperatureRecordInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="InHospitalTemperatureRecordInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/inhospital/inHospitalTemperatureRecord/inHospitalTemperatureRecord_info.js"></script>
@}
