@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>药品出入库记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MedicalInventoryLog.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MedicalInventoryLogTableToolbar" role="group">
                            @if(shiro.hasPermission("/medicalInventoryLog/add")){
                                <#button name="添加" icon="fa-plus" clickFun="MedicalInventoryLog.openAddMedicalInventoryLog()"/>
                            @}
                            @if(shiro.hasPermission("/medicalInventoryLog/update")){
                                <#button name="修改" icon="fa-edit" clickFun="MedicalInventoryLog.openMedicalInventoryLogDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/medicalInventoryLog/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="MedicalInventoryLog.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="MedicalInventoryLogTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/inventory/medicalInventoryLog/medicalInventoryLog.js"></script>
@}
