@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="medicalName" name="" underline="true"/>
                            <#input id="spell" name="" underline="true"/>
                            <#input id="producer" name="" underline="true"/>
                            <#input id="specification" name="" underline="true"/>
                            <#input id="unit" name="" underline="true"/>
                            <#input id="produceBatchNum" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="produceDate" name="" underline="true"/>
                            <#input id="expireDate" name="" underline="true"/>
                            <#input id="price" name="" underline="true"/>
                            <#input id="amount" name="" underline="true"/>
                            <#input id="inboundChannel" name="" underline="true"/>
                            <#input id="logDate" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MedicalInventoryLogInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MedicalInventoryLogInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/inventory/medicalInventoryLog/medicalInventoryLog_info.js"></script>
@}
