<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdtd.card.registration.modular.system.dao.MedicalInventorySecondLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bdtd.card.registration.modular.system.model.MedicalInventorySecondLevel">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="produce_batch_num" property="produceBatchNum" />
        <result column="create_date" property="createDate" />
        <result column="expire_date" property="expireDate" />
        <result column="price" property="price" />
        <result column="inventory_num" property="inventoryNum" />
        <result column="unit" property="unit" />
        <result column="inbound_channel" property="inboundChannel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id AS parentId, produce_batch_num AS produceBatchNum, create_date AS createDate, expire_date AS expireDate, price, inventory_num AS inventoryNum, unit, inbound_channel AS inboundChannel
    </sql>

	<update id="storage">
		update bdtd_medical_inventory_second_level set  inventory_num += #{count} where id = #{id}
	</update>
</mapper>
