@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <form id="searchForm" class="row">
                        <input type="hidden" id="depSerial" name="depSerial" value="${depSerial}">
                                <div class="col-sm-3">
                                   <#NameCon id="userName" name="姓名" />
                                </div>
                                <div class="col-sm-3">
                                    <#input id="beginDate" name="开始时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
                                </div>
                                <div class="col-sm-3">
                                    <#input id="endDate" name="结束时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
                                </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="PatientInfo.search()"/>
                                <#button name="重置" icon="fa-refresh" clickFun="PatientInfo.resetSearchForm()"/>
                            </div>
                        </form>
                        <#table id="PatientInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/common/dtDepCommon.js"></script>
<script src="${ctxPath}/static/modular/alert/fever/patientInfoFever.js"></script>
@}
