@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="editForm" class="form-horizontal">

            <input type="hidden" id="id" name="id" value="${item.id}">
            <input type="hidden" id="parentId" name="${item.parentId}" />

            <div class="row">
                <div class="col-sm-6 b-r">
                           <#input id="medicalNameSearch" name="药品名称" class="easyui-combogrid" readonly="readonly" underline="true" dataOptions="required:true, validType:'length[1, 64]'" style="width:283px;height:34px" value="${item.medicalName}" />
                           <#input id="produceBatchNum" name="生产批号"  underline="true" readonly="readonly" dataOptions="required:true, validType:'length[1, 32]'" value="${item.produceBatchNum}" />
                           <#input id="produceDate" name="生产日期" underline="true" readonly="readonly" type="date" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${item.produceDate}" />
                            <#select id="inboundChannel" name="进货渠道" readonly="readonly" dataOptions="required:true, validType:'number'" itemList="${inboundChannelDictList}" value="${item.inboundChannel}" ></#select>
                </div>

                <div class="col-sm-6">
                            <#input id="price" name="价格"  readonly="readonly"  dataOptions="required:true, validType:'number'" underline="true" value="${item.price}" />
                            <#input id="inventoryNum" name="数量"  underline="true" dataOptions="required:true, validType:'number'" />
                           <#input id="expireDate" name="有效期至" dataOptions="required:true" readonly="readonly" type="date" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${item.expireDate}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MedicalInventoryPharmacyInfoDlg.putInDrugStorage()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MedicalInventoryPharmacyInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/common/dtDepCommon.js"></script>
<script src="${ctxPath}/static/modular/inventory/medicalInventoryPharmacy/medicalInventoryPharmacy_info.js"></script>
@}
