@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="editForm" class="form-horizontal">

            <input type="hidden" id="id" name="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                           <#input id="id" name="主键" type="hidden"   value="${item.id}" />
                           <#input id="userNo" name="编号" type="text" dataOptions="required:true, validType:'length[1, 20]'"  value="${item.userNo}" />
                           <#input id="userName" name="姓名" type="text" dataOptions="required:true, validType:'length[1, 50]'"  value="${item.userName}" />
                           <#input id="orgId" name="单位" type="text"   value="${item.orgId}" />
                           <#input id="orgName" name="单位" type="text" dataOptions="required:true, validType:'length[1, 50]'"  value="${item.orgName}" />
                           <#input id="userDuty" name="身份" type="text" dataOptions="validType:'length[0, 20]'"  value="${item.userDuty}" />
                            <#input id="disabilityName" name="疾病名称" type="text" dataOptions="required:true, validType:'length[1, 64]'"  value="${item.disabilityName}" />
                </div>

                <div class="col-sm-6">
                            <#input id="apply" name="是否申请" type="text" dataOptions="required:true, validType:'number'"  value="${item.apply}" />
                            <#input id="applyDate" name="申请时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" dataOptions="required:true"  value="${item.applyDate}" />
                            <#input id="applyRating" name="申请等级" type="text" dataOptions="required:true, validType:'number'"  value="${item.applyRating}" />
                            <#input id="disabilityResult" name="评残结果" type="text" dataOptions="validType:'number'"  value="${item.disabilityResult}" />
                            <#input id="resultDate" name="结果时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"   value="${item.resultDate}" />
                            <#input id="createDate" name="创建时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" dataOptions="required:true"  value="${item.createDate}" />
                            <#input id="updateDate" name="更新时间" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" dataOptions="required:true"  value="${item.updateDate}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PatientDiabilityRatingInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PatientDiabilityRatingInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/treatment/patientDiabilityRating/patientDiabilityRating_info.js"></script>
@}
