@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="addForm" class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="bUltrasonicId" name="主键" type="hidden"  underline="true" />
                            <#input id="liver" name="肝" type="text" dataOptions="validType:'length[0, 512]'" underline="true" />
                            <#input id="gallbladder" name="胆" type="text" dataOptions="validType:'length[0, 512]'" underline="true" />
                            <#input id="kidney" name="肾" type="text" dataOptions="validType:'length[0, 512]'"  />
                </div>

                <div class="col-sm-6">
                            <#input id="spleen" name="脾" type="text" dataOptions="validType:'length[0, 512]'" underline="true" />
                            <#input id="bUltrasonicOther" name="其他" type="text" dataOptions="validType:'length[0, 512]'" underline="true" />
                            <#input id="healthExaminationId" name="体检信息id" type="text" dataOptions="required:true, validType:'number'" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExaminationBUltrasonicInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExaminationBUltrasonicInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/examination/examinationBUltrasonic/examinationBUltrasonic_info.js"></script>
@}
