@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="addForm" class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" type="hidden" underline="true"  />
                            <#input id="medicalId" name="二级药品id"  underline="true" dataOptions="required:true, validType:'number'" />
                            <#input id="medicalName" name="药品名称"  underline="true" dataOptions="required:true, validType:'length[1, 64]'" />
                            <#input id="spell" name="拼音"  underline="true" dataOptions="validType:'length[0, 32]'" />
                            <#input id="producer" name="生产企业"  underline="true" dataOptions="validType:'number'" />
                            <#input id="type" name="类型"  underline="true" dataOptions="required:true, validType:'number'" />
                            <#input id="specification" name="规格"  underline="true" dataOptions="validType:'number'" />
                            <#input id="unit" name="单位"  underline="true" dataOptions="validType:'number'" />
                            <#input id="produceBatchNum" name="生产批号"   dataOptions="validType:'length[0, 32]'" />
                </div>

                <div class="col-sm-6">
                            <#input id="produceDate" name="生产日期" underline="true"  type="date" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />
                            <#input id="expireDate" name="过期时间" underline="true"  type="date" clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />
                            <#input id="price" name="价格"  underline="true"  />
                            <#input id="amount" name="库存数量"  underline="true"  />
                            <#input id="inboundChannel" name="进货渠道"  underline="true" dataOptions="validType:'number'" />
                            <#input id="operatorId" name="操作员id"  underline="true" dataOptions="required:true, validType:'number'" />
                            <#input id="operatorName" name="操作员"  underline="true" dataOptions="required:true, validType:'length[1, 0]'" />
                            <#input id="logDate" name="创建时间" underline="true" dataOptions="required:true" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
                            <#input id="category" name="分类"  underline="true" dataOptions="required:true, validType:'number'" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MedicalInventoryStorageLogInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MedicalInventoryStorageLogInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/inventory/medicalInventoryStorageLog/medicalInventoryStorageLog_info.js"></script>
@}
