@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="addForm" class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" type="hidden" underline="true"  />
                            <#input id="remark" name="备注"  underline="true" dataOptions="validType:'length[0, 512]'" />
                            <#input id="patientInfoId" name="患者信息id"   dataOptions="required:true, validType:'number'" />
                </div>

                <div class="col-sm-6">
                            <#input id="status" name="状态"  underline="true" dataOptions="validType:'number'" />
                            <#input id="createDate" name="创建时间" underline="true" dataOptions="required:true" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
                            <#input id="updateDate" name="更新时间" underline="true" dataOptions="required:true" type="datetime" clickFun="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PatientPrescriptionInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PatientPrescriptionInfoInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/treatment/patientPrescriptionInfo/patientPrescriptionInfo_info.js"></script>
@}
